body {
   font-family: 'Work Sans', sans-serif;
}
.main-wrapper {
  max-width: 100%;
  overflow: hidden;
}
.header {
  position:fixed;
  z-index: 3;
  height: 100px;
  width:100%;
  top:0;
  left:0;
}
.header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 3;
}
.header-body {
  position: relative;
  left:0;
  display: flex;
  justify-content: space-between;
}
.header-left {
  margin-left: -10%;
  width:60%;
  display:flex;
  justify-content: space-between;
}
.header-logo {
  margin: 40px 175px 127px 123px;
  position: relative;
  z-index: 4;
}
.logo {
  width: 69px;
  height: 30px;
}
.header-list {
  width: 500px;
  left: -200px;
  margin-top: 40px;
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position:relative;
  z-index: 4;
}
@media (max-width: 991px) {
  .header-list {
    width:300px;
   }
}
.header-list li {
  margin-right:10px;
  list-style: none;
}
.header-link {
  color:#314584;
  font-size: 14px;
  text-decoration: none;
}
.header-buttons {
  background-color: white;
  height: 100%;
  display: flex;
  justify-content: space-around;
  position: relative;
  z-index: 4;
  top:14px;
}

button {
  background-color: white;
  border:none;
}
.language-button {
  position: relative;
  z-index: 4;
  width:120px;
  height: 80px;
  margin-top: -20px;
  font-size: 16px;;
  color:#314584;
  padding-top: 20px;
}
.language-list {
  padding: 20px;
  position:absolute;
  z-index: 0;
  top: -100%;
  right: 190px;
 width: 150px;
 height: 150px;
 transition: all 0.5s ease 0s;
}
.language-link {
  color:#314584;
  font-size: 16px;
}
.language-list.active {
  top: 80px;
}
.languages {
  background-color: white;
  display:block;
  list-style: none;
}
.contacts-button {
  background-color: white;
  border: none;
  color: #ff3946;
  border: 15%;
  width: 201px;
  height: 61px;
  box-shadow: 0px 5px 10px 0 rgba(25, 45, 51, 0.15);
}
.header-burger {
  display: none;
}
@media (max-width:768px) {
  .header-burger {
    top: 30px;
    left:-20px;
    display: block;
    position: relative;
    width: 30px;
    height:20px;
    position: relative;
    z-index: 5;
  }
  .header-burger:hover {
    cursor: pointer;
}
  .header-burger:before,
.header-burger:after {
   content: '';
   background-color: #314584;
   position: absolute;
   width:100%;
   height:3px;
   left: 40px;
}
.header-burger:before {
  top:0;
}
.header-burger:after {
  bottom:0;
}
.header-burger span {
   background-color: #314584;
   position: absolute;
   width:100%;
   height:3px;
   left: 40px;
   top: 8px;
}
.header-logo {
 display: none;
}
.header-menu {
 position:fixed;
 top: -100%;
 z-index: 2;
 left: 0;
 width: 100%;
 height: 100%;
 transition: all 0.5s ease 0s;
 background-color: silver;
 padding: 100px 10px 20px 10px;
 }
 .header-menu.active {
   top:0;
 }
.header-list {
  display:block;
  left: 20px;
}
 .header-link {
  font-size: 25px;
  } 
} 
.pictures {
  margin-top: 120px;
  margin-bottom: 100px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 768px) {
 .pictures {
   display: none;
 }
}
.slick-slide {
  max-width: 100% !important;
  height: 500px !important;
  display: flex !important;
  justify-content: space-around;
}
.slide-text {
  width:500px;
  margin-top: 100px;
}
.slide-title {
  font-size: 65px;
  color: #314584;
  font-weight: 600;
  line-height: 1.32;
  letter-spacing: 0.73px;
}
.slide-main-text {
  color: #6e757a;
  font-size: 16px;
}
.slider-buttons {
  display: inline-block;
}
.slide-btn-1 {
  color:white;
  background-color: #ff3946;
  border: transparent;
  width: 201px;
  height: 56px;
  padding: 21px 34px 22px 37px;
}
.slide-btn-2 {
 color: #314584;
 padding: 21px 34px 22px 37px;
}
.slide-2 {
  background-color:black;
 }
.slide-3 {
  background-color: #c3d0d8 ;
}
.slide-4 {
  background-color:black;
}
.slide-5 {
  background-color: #c3d0d8;
}
.slide-6 {
  background-color: black;
}
.slick-dots li button:before {
  width: 20px ;
  height: 20px ;
  background-color: gray;
  border-radius: 100%;
  content: ' ' !important;
}
.slick-prev:before {
  content: '<' !important;
  color: gray !important;
}
.slick-next:before {
  content: '>' !important;
  color: gray !important;
}
.portfolio {
  margin-top: 100px;
  width: 90%;
  }
.blocks-title {
   left:0;
   width: 400px;
   font-size: 40px;
   color:#314584;
   font-weight: 600;
   margin-right: 50px;
 }
.blocks {
  margin-top: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 350px 350px;
  grid-gap: 20px;
 }
.box {
 background-color: #c3d0d8;
}
@media (max-width: 768px) {
  .portfolio {
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
  }
  .blocks {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 350px;
    grid-gap: 20px;
  }
  .blocks-title {
    margin-top: 50px;
   }
 }
 .see-more {
   margin-top: 56px;
   text-align:center;
 }
 .see-more-link{
  font-size: 16px;
  font-weight: 600;
  color: #ff3946;
 }
 .contact-us {
   margin-top: 150px;
 }
 .cont-title-one {
  font-size: 18px;
  font-weight: 600;
  color: #ff3946;
 }
 .cont-title-two {
  font-size: 48px;
  font-weight: 600;
  color: #314584;
 }
 .row-one {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 61px;
   grid-gap: 20px;
 }
 .row-two {
   margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 121px;
 }
 input {
   border:none;
   background-color: #f4fafe;
   padding-left: 20px;
   font-size: 16px;
  font-weight: 600;
  color: #314584;
 }
 .send-msg-btn {
   width: 201px;
   height: 50px;
   margin-top: 50px;
   margin-left: 35%;
   background-color: #ff3946;
   border:none;
   color: white;
   font-size: 16px;
  font-weight: 600;
 }
 .contacts-link:hover {
   text-decoration: none;
 }
 .footer {
   position:absolute;
   left:0;
  width: 100%;
   margin-top: 60px;
   height: 400px;
   overflow: hidden;
   background-color: #314584;
 }
 .footer-content {
  margin-top: 50px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center
 }
 .doob {
  font-size: 16px;
  font-weight:600;
  color: white;
 }
 .creativity-above {
  font-size: 44px;
  font-weight:600;
  color: #ff3946;
}
 .footer-list {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
 }
 .footer-list li {
   list-style: none;
 }
 .footer-link {
   color: white;
 }
 .footer-link:hover {
  color: white;
};